<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>🐶 Dog Breed Classifier</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <br>
            <button type="submit">Predict Breed</button>
        </form>
    </div>
</body>
</html>